body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header p {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
    padding-left: 15%;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 15%;
}